[2018-11-08 10:45] paulm17 opened #1 "Problem dragging newly added Nestable Item"
Hi,

Many thanks for building this.

I need to add items to the tree, but I keep on getting an error when I try to move a newly created tree.

I have created an example to demonstrate the problem.

https://codesandbox.io/s/8lq00np3ql

Add an item and then try to drag it.

The error I get is: Uncaught TypeError: Cannot read property 'length' of undefined

The error pertains to this:  https://github

[2018-11-08 12:45] rhwilr commented on #1
Thanks for this bug repost @paulm17
The problem here is that the item you add does not have a `children` property.
If you pass a list of items that don't have a `children` property, vue-nestable will update the list and add that property to each item. But only on the initial render.

This is intentional, since checking each item on every render update could be a performance issue on large lists.

[2018-11-08 12:45] #1 closed

[2018-11-08 15:18] paulm17 commented on #1
Thanks for pushing out the update so quickly.  Got it working now, cheers!

[2018-12-13 11:45] jdriesen opened #3 "Very small issue in Documention"
Hi @rhwilr

First of all... CONGRATZ with this component !
Really a great piece of software.

I just want to mention a very minor issue in the documentation on https://rhwilr.github.io/vue-nestable/
The "link to code" button of the "Draggable across different lists" example, is pointing to "https://github.com/rhwilr/vue-nestable/blob/master/docs/src/components/Advanced.vue"

(I guess this has to b

[2018-12-13 12:58] rhwilr commented on #3
You're welcome, glad you like it :smiley:
The link is now fixed.

[2018-12-13 12:58] #3 closed

[2018-12-13 17:34] jdriesen opened #4 "Collapse / Expand feature ?"
Hi Ralph, @rhwilr

If I can ask ... do you plan to implement a collapse and expand functionality ?

Thanks in advance for your reply,

Kind regards,

Johnny (Belgium)

[2018-12-13 18:18] rhwilr commented on #4
Hi Johnny

I did initially plan to implement collapse functionality and there is still some evidence of that in the codebase from the initial draft.
But currently I don‘t have the need for this feature, so I didn‘t spend any more time on it.
I intend to release 1.0 without it soon and maybe then take another look at it. But if you have the need for this feature I will happily accept a PR.

[2018-12-13 19:07] KenoKokoro opened #5 "[Vue warn]: Injection "group" not found"
Am I missing something here?

[code]

The stack trace in console says it is in:
[code]

[2018-12-13 19:20] #5 closed

[2018-12-13 19:21] KenoKokoro commented on #5
Just me being stupid. I used the `vue-nestable-handle` component instead of my custom component to wrap the nestable in.

[2018-12-15 09:42] SanjayBanjade opened #6 "How to get the index of array?"
[code]

I have a button in there where I want to get the index of current item in that array. How can I do this?

[2018-12-15 14:56] rhwilr commented on #6
Hi @SanjayBanjade

I just added this feature and published `1.0.0-beta.2`.
You can now access the array-index as a prop on the scoped-slot. Check out [Basic.vue](https://github.com/rhwilr/vue-nestable/blob/master/tests/stubs/Basic.vue) to see an example.
Hope this solves your issue.

[2018-12-16 08:45] #6 closed

[2018-12-19 07:38] lapaliv opened #7 "Emit mouseenter event"
Hello. In my tree, I have an opportunity to hide and to open some part of tree.
I haven't opportunity to open a hidden node on move other tree node.

Please add emit @mouseenter event for VueNestable component for it.

For example (video) https://yadi.sk/i/74FfrnOdwvIlcA

[2018-12-19 17:16] rhwilr commented on #7
I'm not sure I understand. In your video, the collapsed node seems to open when you hover over it. So what exactly is not working?
Can you share the source to this?

But I think you can already get a mouseenter event by binding it when you render the content:
[code]

[2018-12-20 12:29] iceflash opened #8 "drag'n'drop on mobile device"
Hi! Trying on mobile device, but it seems not working. Do you planing add support for mobile device?

[2018-12-20 17:48] rhwilr commented on #8
Hi @iceflash
Mobile is currently not supported, but I am looking into it. It is certainly planned for the next release, but I can't yet say when it will ship.

[2018-12-20 20:00] rhwilr commented on #8
I just worked on it a bit more.
You can check out [v1.1.0-beta.0](https://github.com/rhwilr/vue-nestable/releases/tag/1.1.0-beta.0) to test it on mobile.

[2018-12-21 10:13] iceflash commented on #8
Hi! Thank you very much! I will try it, and reply/close issue

[2018-12-22 12:53] lapaliv commented on #7
It's the other project to vue draggable (https://github.com/phphe/vue-draggable-nested-tree), but your project is more suitable for me

It's a good idea. Thanks

[2018-12-22 12:53] #7 closed

[2018-12-28 21:02] minhtu-cloudtek opened #10 "It doesn't operate well when using inside an element having its own overlflow-y:scroll"
I realized that when I put the component in an element having its own scroll bar (overflow-y:scroll), the margin of ".nestable-drag-layer .nestable-list" was wrongly calculated to simulate the drag and drop animation.

Is there any solution for me?

[2018-12-30 18:59] rhwilr commented on #10
Hi @minhtu-cloudtek
Can you provide a code example that shows the problem?

You can use my codesandbox template if you want. https://codesandbox.io/s/pk3923rwz0

[2018-12-31 17:37] Krato opened #11 "Class to group"
Hello, first thanks for your awesome plugin.

Second, my problem. I want to add a class to the `.nestable-item` item. But seems imposible.

The reason: I want to set a disabled class to the item. So all his childrens should be also disabled. I can set the class to this item, but no to his childrens.

How can achieve that?

I created a codesandbox to test it: https://codesandbox.io/s/6lyj1om093

Th

[2019-01-02 16:22] rhwilr commented on #11
Thanks, glad you like it.
I think I can help you out here: I added a `classProp` that lets you define a property on the item object. This property will then be bound to the `li` of that item. This is available in [1.1.0-beta.2](https://github.com/rhwilr/vue-nestable/releases/tag/1.1.0-beta.2), If there are no issues, I will probably release 1.1.0 later this week.

Also, you can see this in action

[2019-01-05 10:01] Krato commented on #11
Thanks to add this option. But something wrong is happening.

Check the example: https://codesandbox.io/s/6lyj1om093

<img width="720" alt="captura de pantalla 2019-01-05 a las 11 00 26" src="https://user-images.githubusercontent.com/74367/50723091-3a165300-10d9-11e9-92af-19dd507f2c25.png">

As you can see also in the image, there are spaces between the letters.

[2019-01-05 15:37] rhwilr commented on #11
@Krato Thanks for this bug report. Strangely enough, I could only reproduce this in CodeSandbox but not in my compiled setup.
Anyway, It should be fixed in [1.1.0-beta.3](https://github.com/rhwilr/vue-nestable/releases/tag/1.1.0-beta.3).

[2019-01-05 22:14] Krato commented on #11
Perfect mate! 👍🏽

[2019-01-05 22:14] #11 closed

[2019-01-07 11:43] Krato commented on #11
@rhwilr https://packagist.org/packages/infinety-es/nova-menu-builder

[2019-01-07 11:59] rhwilr commented on #11
Oh a Laravel Nova plugin, nice work @Krato! :+1:
Now I will definitely have to check out Nova :smiley:

[2019-01-08 08:54] #8 closed

[2019-01-15 13:15] rhwilr commented on #10
@minhtu-cloudtek Does this issue still affect you or did you find a solution to it?
I could not reproduce it, so if you could provide an example that shows the problem? That would be great.

[2019-01-29 13:54] Espumisan commented on #4
You can set collapsing seperated from this plugin

[2019-01-29 14:10] Espumisan opened #12 "Content jumping"
Hey, I don't have all nestable items in the same height and when i'm trying to drag smaller item on to higher item it starts jumping up and down.

Video: https://www.screencast.com/t/f4xWxtOglF2b

[2019-01-31 15:56] rhwilr commented on #10
Could be related to https://github.com/rhwilr/vue-nestable/issues/12.

[2019-02-01 09:50] rhwilr commented on #12
Thanks for this bug report.
I am working on a fix for this, I could fix it on the desktop, but unfortunately, it seems to be quiet difficult to fix this for mobile since some essential information is missing in the `TouchEvent`.
I will need to spend some more time investigating.

[2019-02-01 13:31] Espumisan commented on #12
Thanks! Hope you will fix this soon! :)

[2019-02-03 09:07] sushant12 opened #14 "onDrop event"
Is there a way to trigger a method when an object is dropped? The `@input` event triggers every time I pick and drop an object.

After an object is dropped, I just want to pass the `menus` array of objects back to the server.

[code]

[2019-02-03 09:18] rhwilr commented on #14
You can use the `change` event.
I just noticed it is missing in the documentation :grimacing:
There is also a [PR](#13) open that will expose more information in the change event.

[2019-02-03 09:19] sushant12 commented on #14
let me try that

[2019-02-03 09:44] sushant12 commented on #14
nevermind, I misspelled chage while use @chage so i used :change which was so wrong.

[2019-02-03 09:44] #14 closed

[2019-02-05 14:29] rhwilr opened #15 "Improve drag'n'drop on mobile if items are not of equal size"
Draggin Items of different size causes the list to jump around. The fix that was used to make this work on desktop does not work on mobile since we are relying on mouse-move events.

We may need a completely different method to track movement that works on the desktop and on mobile.

Feedback and PRs are welcomed.

[2019-02-05 14:36] rhwilr commented on #12
The temporary fix is available in [2.1.0](https://github.com/rhwilr/vue-nestable/releases/tag/2.1.0). Keep in mind that the issue is only fixed for deskop-browsers and currently does not work on mobile.

I'm going to close this issue and track the mobile improvement in #15

[2019-02-05 14:36] #12 closed

[2019-02-05 14:42] rhwilr commented on #10
Closing this issue for the lack of clarification.
Issue #12 and #15 are probably related. If not, feel free to leave a comment and I will reopen it.

[2019-02-05 14:42] #10 closed

[2019-02-07 10:58] Espumisan opened #16 "Internet explorer 11 support"
When I test this plugin in IE 11 I get error `'Symbol' is undefined`, after inserting Symbol polyfill I get a new error:
`Unable to get property 'getBoundingClientRect' of undefined or null reference`

Is it possible to make this work in IE11, because it's our requirement in project i'm working on

[2019-02-07 11:31] rhwilr commented on #16
I don't support IE 11 in my projects. But I will happily accept a PR for this.

[2019-02-12 22:13] Specialsaucewc opened #17 "Elements do not correctly follow mouse when drug in scrollable context"
If the Vue Nestable list lives within a scroll-able parent, when you drag an element while scrolled to the top everything behaves as expected. However once scrolled down the drug item is offset from the mouse position. I have attached a codesandbox of the Simple example in a scroll-able context for reference/reproducability.

https://codesandbox.io/s/x2zw443r7w

[2019-02-13 08:39] rhwilr commented on #17
Thanks for reposting this. It is now fixed in [2.1.1](https://github.com/rhwilr/vue-nestable/releases/tag/2.1.1)

[2019-02-26 12:52] rhwilr commented on #16
I spent a few minutes looking into this. I think you need to import a polyfill for
`Element.prototype.matches` and `Element.prototype.closest`.
I added polyfill.io on the demo site and it seems to work with the following config polyfills:
[https://polyfill.io/v3/polyfill.js?features=es5,es6,default,Element.prototype.matches,Element.prototype.closest&flags=gated](https://polyfill.io/v3/polyfill.js?

[2019-02-26 12:52] #16 closed

[2019-03-03 19:33] muhibbudins commented on #17
Hi @rhwilr ,

Is this bug has been resolved? Cause i use `"vue-nestable": "^2.2.0"` and still get a bug like image below :

![screen-shot-2019-03-04-at-2 25 01-am](https://user-images.githubusercontent.com/17744043/53700519-e51b6280-3e25-11e9-99d7-ff863a6e19c7.jpg)

Thanks in advance

[2019-03-04 07:24] rhwilr commented on #17
Yes, it has been fixed:

Can you link to the source code, or provide an example that produces this bug? Preferably using a [CodeSandbox](https://codesandbox.io/s/pk3923rwz0).
Do you get the same bug on the [demo page](https://rhwilr.github.io/vue-nestable/)?

It might be related to the CSS you use.

[2019-03-04 07:37] muhibbudins commented on #17
Hi @rhwilr,

I am sorry this is a private project so i can't share a code. But i think this bug came cause i use BootstrapVue & ElementUI together inside a NuxtJS.

So maybe the style of this library collide with their css.

Thanks in advance

[2019-03-07 19:21] stevebritton commented on #17
@muhibbudins, I was experiencing the same ghost issue when I was setting a specific height and overflow on the nestable list class, for example:

[code]
To resolve the issue, I added a parent container and applied the css to the parent:

[code]

Hope this helps you.

[2019-03-10 12:40] pstaabp opened #18 "error on drag"
Just started using this and got the following error:
[code]
Note: using webpack, so not sure the line numbers are accurate.

I found the problem.  I used a colon : in the id of the list item.  which isn't valid for a classname.  Perhaps you can throw an error if the id doesn't have the proper form.

[2019-03-10 15:37] rhwilr commented on #18
I added a note in the docs.

[2019-03-10 15:37] #18 closed

[2019-03-11 08:17] Espumisan commented on #15
Hey!

After update to 2.2.0 this issue still appears!

video: https://www.screencast.com/t/cEMeHNO8HW

Thanks!

[2019-03-11 10:37] rhwilr commented on #15
@Espumisan Can you please upload the screencast to a site that does not require Flash?

[2019-03-11 15:01] Espumisan commented on #15
I'm using [JING](https://www.techsmith.com/jing-tool.html), unfortunately it provides only flash, but you can enable it in google chrome!

Maybe you know other software I can use?

[2019-03-11 15:19] rhwilr commented on #15
That used to be the case, but it seems to no longer work. I'm not installing Flash.

The best way to report a bug is to create a Codesandbox using this template: https://codesandbox.io/s/pk3923rwz0

[2019-03-12 07:21] Espumisan commented on #15
Hey! I have complex components inside project already, I made a new Video:
https://www.dropbox.com/s/7rld44ol3l7w68c/20190312_091639.mp4?dl=0

You can see it is sitll jumping, and you can't add smaller to bigger from the top, take a look mate :)

[2019-03-12 08:58] rhwilr commented on #15
The reason I asked for a CodeSandbox is so a can reproduce the issue to find the bug.
Also, it could be the case that this issue only applies to your use-case and might be a CSS issue or a component inside the nestable-item. By creating a simple example to reproduce the issue, we can make sure that it is a general issue.

In any case, I don't have much free time to work on this in the next few wee

[2019-03-13 12:31] notflip commented on #17
I'm still experiencing this, updated to 2.2.0 and tried all of the above, I disabled the styling of bootstrap but the problem persists, any idea which direction I have to look for? It's as if the current mouse position is wrongly calculated.

[2019-03-14 08:24] notflip opened #19 "Possible to have the VueNestableHandle in a child component?"
I'm trying to add the VueNestableHandle into a child component, but as expected I get the following error

`Failed to execute 'querySelector' on 'Document': '.nestable-q6putfiw0pk .nestable-item-[object Object]' is not a valid selector.
`

Since it can't find the parent, I'm guessing.
Is there anyway this is possible?

[2019-03-14 09:25] notflip commented on #14
Would it be possible to have access to all elements onChange? Like the input handler provides?

[2019-03-14 09:44] rhwilr commented on #19
The `.nestable-item-[object Object]` tells me that you are not setting the `keyProp` correctly. You have to provide a string property that uniquely identifies your items.
By default, it will look for a property called `id`. If this does not exist on your model and is called differently, you will have to set the `keyProp` prop.

[2019-03-14 09:49] rhwilr commented on #14
Yes. I would accept a PR that adds `items` as an additional option in the [change event](https://github.com/iceflash/vue-nestable/blob/master/src/VueNestable.vue#L464).

[2019-03-14 11:52] notflip commented on #19
Aha, got it working. Thanks! Great plugin, thanks for your work and time on this

[2019-03-14 11:52] #19 closed

[2019-03-14 14:08] notflip opened #21 "Issue with dragging and reordering"
I've got some strange behaviour, as you can see I have elements, Alfa, Bravo, Charlie.
When I reorder, strange things are happening, I recorded the behaviour
http://g.recordit.co/el35fPe1l1.gif

Any idea what might be causing this?

[2019-03-14 14:15] notflip commented on #21
I made another recording, there's also an error now,
http://recordit.co/gSdwRy4Grj/gif/notify

![Screenshot 2019-03-14 at 15 15 38](https://user-images.githubusercontent.com/4146384/54363839-0a04a680-466c-11e9-94f4-0bbead1e8efa.png)

[2019-03-14 14:23] notflip commented on #21
I'm looking further into this, It appears to go wrong from **the moment I select an item and start dragging.**

http://recordit.co/pSD9a18vZW/gif/notify

[2019-03-14 17:30] rhwilr commented on #21
Without an actual source-code example, I can only guess. I'd check that your `keyPro` is actually unique.

[2019-03-15 08:15] notflip commented on #21
You're right, was a keyProp issue. Thanks for this!

[2019-03-15 08:15] #21 closed

[2019-03-15 08:20] notflip opened #22 "pathTo returns null once in a while"
There's a small issue where sometimes, the pathTo returns **undefined**, it happens a very short while after releasing an item.

### Steps to reproduce
I drag the first item (item 0) to the last position (3), it doesn't always happen and when it does, It happens a second or so after releasing. These are the details

_console.log screenshot_
![Screenshot 2019-03-15 at 09 17 58](https://user-images.

[2019-03-27 08:39] notflip opened #23 "Creating a new item, dragging a parent makes it disappear"
Is there anything that needs to happen for the data to stay in sync?
**It seems like the dragItem doesn't include the new child I created when I start dragging**

http://g.recordit.co/Welrvs5Kf0.gif

My App data seems to be in sync with the VueNestable data (see screenshots)

![Screenshot 2019-03-27 at 09 41 10](https://user-images.githubusercontent.com/4146384/55061646-89cf3f80-5074-11e9-8b76-352

[2019-03-27 09:25] rhwilr commented on #23
If you use `v-model` it should work.
Can you share code?

[2019-04-12 09:07] #22 closed

[2019-04-12 09:21] rhwilr commented on #22
This is now fixed in version [2.3.2](https://github.com/rhwilr/vue-nestable/releases/tag/2.3.2)
Thanks for reporting this bug and please excuse the slow response.

[2019-05-02 16:26] #23 closed

[2019-05-06 07:10] nagbg opened #24 "Item nesting on first drag"
When the page is reloaded the first drag will directly nest on the previous item. If there is a second drag it will not have the same behavior and on nest if dragged to the right.
Tested this in both Safari and Chrome.

If the nestable-handle has a @click function inside this will be called on drag end if the drag ends in the same position as start on Chrome (not safari).  If the item is moved the

[2019-05-06 07:26] rhwilr commented on #24
Thanks for reporting this issue.

I can reproduce this issue and will look into it.

I'm not handling `click` events in this plugin. I suspect this is a normal browser behavior. I'll take a look at this, but I'm not sure if I can or should do something about this.

[2019-05-06 07:44] nagbg commented on #24
The click function can be handled in the @change event. So this I can solve myself. It's just that it's inconsistent behavior across browsers.

[2019-05-06 08:15] #24 closed

[2019-05-06 08:30] rhwilr commented on #24
I just released v2.4.1, which fixes the first issue.

Regarding the `click` event, I'm probably not going to change this, since it is browser dependent and it is not the focus of this package to fix this.

[2019-05-06 08:36] nagbg commented on #24
I tested it on my project and the bug has been fixed for my use case. Thank you.
If your demo page has been updated I found another bug with similar problem.
If you first do a drag in the left list under "draggle across different lists" and then do a drag under the right list the item will directly nest under the previous item.

[2019-05-08 06:26] rhwilr opened #25 "Item nesting on first drag"
Dragging items horizontally between listes should reset the threshold when entering the list. Otherwise the item will be nested automatically when dragging to a list on the right.

Reported by @nagbg in #24 :

[2019-06-18 07:48] petkocfc opened #49 "Adding children property to all elements"
Hi Ralph, @rhwilr

If i can ask a question.

When loading data into **nestableItems** array some of the objects don't have children, if we want to say this element do not have any children and some other has. So we have a mix of data, like in your example with Andy, Harry and Lisa. It's not defined that Andy has any children and after rendering of **vue-nestable** each item gets children prop and

[2019-07-12 04:08] Arc-zlz opened #60 "How do you render this array?"
let array = [{
    type:1,
    name:"tom"
},{
    type:2,
    age:18
},{
    type:3,
    sex:"man"
}]

[2019-07-12 05:28] Arc-zlz commented on #60
What I'm thinking about now is whether there's a better way to do this.
<vue-nestable v-model="array" :maxDepth="number" keyProp="type" childrenProp="" group="cross">
            <vue-nestable-handle
                slot-scope="{ item }"
                :item="item"
                v-show="item !== 0"

                {{ item }}
            </vue-nestable-handle>
        </vue-nestable>
        <v

[2019-07-12 05:28] Arc-zlz commented on #60
[code]

[2019-07-12 05:29] Arc-zlz commented on #60
What I'm thinking about now is whether there's a better way to do this??
[code]

[2019-07-12 13:20] rhwilr commented on #60
What do you mean by better way? Can you explain what doesn‘t work for your usecase?

[2019-07-14 17:07] Arc-zlz commented on #60
Thank you for your reply! This example is no problem, but not elegant enough. I want to ask you if you know there is a better way to implement it.

[2019-07-14 17:11] rhwilr commented on #60
No, this is how the component currently works. But I'm always open for ideas on how we can improve the developer experience.

[2019-07-14 17:16] Arc-zlz commented on #60
Um...I haven't thought of a good way to improve it for the time being. Ha ha ha ha ha, let me think again, thank you for your reply, go to bed first, we are different from your time difference.

[2019-07-14 17:19] rhwilr commented on #60
No problem. I'm closing this issue for now. Feel free to open a new issue or PR though, for suggestions on improvements.

[2019-07-14 17:19] #60 closed

[2019-07-16 09:39] #49 closed

[2019-09-01 09:55] paulm17 commented on #17
@rhwilr This is hands down the best nestable component available.

Can you re-open this issue?  I have the same problem and don't mind recreating the use case for you to look at.  I would really like for this to be resolved.

Here is a screenshot of what's happening.

![oops](https://i.imgur.com/xLkYTt0.png)

[2019-09-02 09:15] rhwilr commented on #17
@paulm17 Sure, I'll reopen the issue. It would really help, if you could create a demo that showcases the issue. I would also happily accept a PR if you happen to find the problem.

[2019-09-04 08:42] paulm17 commented on #17
@rhwilr I have put up a really janky demostration over at https://codesandbox.io/s/vue-template-krymb

I've essentially just ripped out what I'm doing and threw it together.  But it should give you an idea of what's going on.

One thing though.  I'm using a forked an earlier version of your component as were some extra functionality that I needed.  I haven't had the time to use your current versio

[2019-09-19 09:33] Polimorf opened #80 "How temporally disable dragging?"
I want to disable and enable dragging when this need.. but I don't see any option for this.

[2019-09-19 15:16] rhwilr commented on #80
If you don't use the `VueNestableHandle` component, items in the list won't be draggable.
See the first example on the [demo page](https://rhwilr.github.io/vue-nestable/).

[2019-09-20 06:42] Polimorf commented on #80
Yes, it worked! Thanks.

[2019-09-20 06:42] #80 closed

[2019-09-24 07:54] paulm17 commented on #17
@rhwilr Did you manage to find some time to look at this issue?  Thanks

[2019-09-25 06:45] rhwilr commented on #17
I haven't had the time yet. I hope I'll get around to it by the end of the week.

[2019-09-26 14:37] rhwilr commented on #17
I published v2.4.5 which should fix this bug.

[2019-09-26 14:37] #17 closed

[2019-09-26 14:43] paulm17 commented on #17
Awesome, will check it out in the next couple of days and report back.

[2019-10-12 11:14] marky291 opened #81 "Cannot drag items in an element"
I have used the example on this git, however as shown in the images the element is only draggable when clicking outside the inner elements space (the bluie part shown), it does however work when using just the {{ item.name }} without any elements. I have shown the used code, maybe its a mistake my end that isnt documented?

[Edit: The cursor for dragging shows on the inner element, just no functio

[2019-10-12 14:02] marky291 commented on #81
Looks to be a problem with just div elements, using only span as inner element works.

[2019-10-13 18:00] marky291 commented on #81
Solved by just using span, this should be documented.

[2019-10-13 18:00] #81 closed

[2019-10-14 01:51] RoOhi-E opened #82 "RTL support"
Hi @rhwilr
I wanna know do you have any plan to add rtl support?
thanks

[2019-10-14 06:08] rhwilr commented on #82
No, I don't have any plans at the moment.
But the library only tracks the mouse position, that should not change as far as I know. There is no css or text that would dictate left-to-right.

Can you tell me what is missing for rtl support, as I don't have any experience with it?

[2019-10-14 15:32] RoOhi-E commented on #82
Just some css changes & _diffX_ const rtl check :)
I made a pull request for rtl support #83

[2019-10-30 02:42] mksc1123 opened #84 "How to set advanced group relation"
Hello Mr.Huwiler, @rhwilr

I'm Mizuki.
I want to know how to set advanced group relation.

For example, I have three cards, question card, answer card and scenario design card.
There are some blocks at question card and answer card.
I want to move a block from question to scenario design and from answer to scenario design.
But, I don't want to move a block from question to answer, and vice versa.

[2019-10-30 11:51] rhwilr commented on #84
Hi @mksc1123

Thank you for using vue-nestable! Take a look at [Hooks](https://github.com/rhwilr/vue-nestable#hooks), I think you should be able to implement your use-case using the `beforeMove` hook.

You can also check out the [Advanced](https://github.com/rhwilr/vue-nestable/blob/master/example/components/Advanced.vue) example, that should give you a hint how to use the hook.

Hope this helps.

[2019-10-31 02:04] mksc1123 commented on #84
Hi @rhwilr
Thank you for helping!

I'll try to use Hooks checking the Advanced example.
I do my best to implement with your advice.
Thank you!!

[2019-11-01 07:03] #84 closed

[2019-11-12 07:10] ysk2014 commented on #4
how do it?

[2019-12-09 12:54] passi246 opened #86 "Using actual keyprop property"
Index is used as the v-for key property, therefore all components losing their state if index of the list changes. As we are using complex items, we need the state to be preserved.

PR: #85

[2019-12-18 08:34] rhwilr commented on #86
Thank you for submitting this RP! :+1:

[2019-12-18 08:34] #86 closed

[2019-12-18 08:43] rhwilr commented on #82
I took a look at your PR and it looks sensible. However, I don't have experience with RTL layouts, so if I make changes in the future, would you be open to take a look at it again and make sure I didn't break RTL support?

[2019-12-22 23:31] RoOhi-E commented on #82
Yes, that's OK

[2019-12-23 11:02] #82 closed

[2020-01-29 11:11] elvijs-teikmanis-emergn opened #87 "Drag and drop item position flickering"
When item or handle is clicked then dragged item moves to top left corner and only then restores position under mouse pointer. Sometimes item locks at top left corner and after next move event position restores.

In order to reproduce go to: https://rhwilr.github.io/vue-nestable/

1) Click on red handle
2) Move slowly

[2020-01-29 11:56] Limonische opened #88 "How do you delete an item?"
I have a question, what is the preferred and easiest way to delete an item?

[2020-01-29 12:10] rhwilr commented on #88
Deleting and adding items is something you have to do in your code. This library just renders whatever is passed to the `value` prop. So you would remove the item from the input array, and it will re-render the list automatically.

[2020-01-31 19:40] #88 closed

[2020-01-31 20:35] #87 closed

[2020-01-31 20:48] rhwilr commented on #87
Thank you for reporting this issue!
I just published version [2.5.1](https://github.com/rhwilr/vue-nestable/releases/tag/2.5.1) which addresses this issue.

[2020-03-21 18:21] Arenukvern opened #89 "Disable drag&drop for touch = tap/longtap events?"
Hello.

I searched documentation, but cannot find a way to prevent drag event for touch devices.

For desktop - all works if simply to add attribute draggable = false.
But for touch devices it not working at all (ondragstart doesn't work also).

Could you help with the issue?
Thank you!

[2020-03-23 07:07] rhwilr commented on #89
You can disable dragging by not rendering a `VueNestableHandle`. Take a look at the [List](https://github.com/rhwilr/vue-nestable/blob/master/example/components/Simple.vue) example.

[2020-03-25 05:44] Arenukvern commented on #89
Thank you for your help! Solved with the principle [Advanced](https://github.com/rhwilr/vue-nestable/blob/master/example/components/Advanced.vue)

[2020-03-25 05:44] #89 closed

[2020-03-26 00:20] alhavizd opened #90 "option pathTo incorrect data"
option pathTo incorrect data. when last item drag to top/first, then drag to child of first item data pathTo [1], should be [0, 0]. if that data, drag again to parent, but not first. after that drag again, pathTo correct
![Untitled Project](https://user-images.githubusercontent.com/23514820/77597691-3a934780-6f32-11ea-9fae-2f95af1faf99.gif)

[2020-03-27 09:09] rhwilr commented on #90
Hi,
I tried to create a simple test case to reproduce this bug, but I'm unable to do so.
What am I missing? I create this Sandbox, so you can see for yourself: https://codesandbox.io/s/silly-cookies-35eo7

[2020-03-27 12:32] alhavizd commented on #90
Hi, I tried your simple codesandbox. but still the same. I still have the same problem
![bugs](https://user-images.githubusercontent.com/23514820/77756403-a9bb8980-7061-11ea-8c23-d5af7553b4c6.gif)

[2020-03-27 15:05] rhwilr commented on #90
Ah now I was able to reproduce it and I found the bug. I just tagged [v2.5.3](https://github.com/rhwilr/vue-nestable/releases/tag/2.5.3) to address this issue.

Thanks for reporting this issue.

[2020-03-27 15:05] #90 closed

[2020-03-31 09:35] BernardTsai commented on #4
I am no Vue expert but I think it is possible to achieve the collapse/expand behaviour by
a) setting the **classProp property**  of the VueNestable component (documentation I believe needs to be updated since this property is currently named 'class' there),
b) adding a simple **event handler** in the slot template to toggle the classProp property (e.g. by adding or removing 'collapsed') and
c) def

[2020-05-30 13:32] CaptainCannabis opened #91 "css classes removed by beforeMove-hook"
I am using two instances of the component with the group/cross-feature.

One is holding hierarchical data (company with teams and members of those) while the other one holds a list of the deleted items from the "tree"-list. If they get deleted, they are added to thats list items. User can drag them back to the tree.

To achieve that, i got to cancel the drop if the user wants to drag a person on e

[2020-05-30 13:50] CaptainCannabis commented on #91
Just discovered the "class-prop"-property but that class is also removed by returning false in the beforMove hook :(

[2020-06-10 22:17] tcmckee opened #92 "Change ghost image when using multiple VueNestable components with same group"
I am creating a page with at least 2 VueNestable components and allowing items to be moved between lists. When I drag an item, the ghost will not only include the item from the original list but the same item from each of the other components. The movements all work correctly but the ghost shows this extra visible effects that are confusing. If I can modify that image, I would be in great shape. A

[2020-06-11 18:06] tcmckee commented on #92
Nevermind, I figured out I was missing some CSS I needed to add. Thanks you for your attention

[2020-06-11 18:06] #92 closed

[2020-06-30 14:24] MaheshB0ngani opened #93 "Does it support for virtual scroll, otherwise this may suffer performance issues when there is larger data."
Does it support for virtual scroll?
Do you have any plan to include virtual scroll?
I can contribute for this feature, if you need.

[2020-07-18 10:55] origami1024 opened #95 "'non-droppable' property for handles"
It would be cool property allowing creation of structures like filesystem - where you can drag&drop some handles but cant drop anything inside them (like files as opposed to folders).

[2020-07-18 12:11] rhwilr commented on #95
You should be able to do this with the `beforeMove` hook. You'll get the item that was dragged and where it was dragged to. Then you should be able to check if it is a file and abort the drag action.

[2020-07-18 12:16] rhwilr commented on #93
No, vue-nestable does not support a virtual scrollbar and I currently don't plane to support it.
I think this feature is outside the scope for vue-nestable. An external library may be able to provide this.

[2020-07-18 12:16] #93 closed

[2020-07-20 17:12] origami1024 commented on #95
Seems like beforeMove is good enough, thanks

[2020-07-20 17:12] #95 closed

[2020-07-22 07:47] ysk2014 commented on #93
I have a performance problem now, when the nesting level is above 6

[2020-08-17 06:49] mariusa opened #96 "Vue 3 compatibility"
Hi, thanks for this wonderful component!

Any plans to make it compatible with Vue 3?

[2020-08-18 04:41] mariusa opened #97 "parentProp as an alternative to childrenProp"
Hi,

The current way to organize items a tree requires storing a nested array. That's hard to store in a database. Would you please also support having items in a flat array, with a parent_id property?

That could be specified in `parentProp`, as an alternative to `childrenProp`:

[code]

[2020-08-19 17:54] rhwilr commented on #97
Hi @mariusa
You should use a mapper function to transform your data to the structure vue-nestable expects.
We will not support different data structure, as each project has different requirements. We would have to support many data structures, which increases the maintenance for the project.

[2020-08-19 17:54] #97 closed

[2020-08-19 18:15] mariusa commented on #97
Ok, thanks for considering.

[2020-09-21 15:49] javadgholipoor opened #99 "how to remove item?"

[2020-09-22 04:31] #99 closed, assigned to nobody

[2020-11-16 10:14] nmihin opened #100 "Issues on mobile devices - links and drag&drop not working"
I added "delete" and "edit" actions inside VueNestableHandle and it works fine on desktop. The problem is on native devices, there is only a drag and drop option and I cannot click on my "delete" and "edit" buttons. Also, the drag option gets permanently stuck and I need to tap again to release the drag when using "cross-list" and group="cross" options.

Check out the video of this issue on the li

[2020-11-17 14:06] renato-ll opened #101 "Copy element when pressed CTRL"
Hello,

It would be interesting to have the option to active the ability to copy the element when the key CTRL is pressed before start dragging

If you find it pertinent, here it is an request

Thank you!

[2020-11-19 19:25] rhwilr commented on #101
Thank you, but I don't think this belongs into the library, as it is something very application specific. Not every use case for vue-nestable requires copying elements.

[2020-11-19 19:25] #101 closed, assigned to nobody

[2020-11-19 19:29] rhwilr commented on #100
This looks to me like you need to stop the touch event from propagating when clicking the button. Have you tried adding the `.stop` modifier to the event listener?

[2020-12-08 19:09] dallinbjohnson commented on #100
I am having the same problem on mobile and I have tried both .prevent .stop for @click on the icons.

[2020-12-08 20:13] rhwilr commented on #100
I'll need more information in order to assess if this is a problem with `vue-nestable`.

- Does it work on the [demo page](https://rhwilr.github.io/vue-nestable/)?
- Can you link the source to your component or create a simple reproduction case?
- Which mobile OS, Browser..?

[2020-12-08 20:18] rhwilr commented on #100
You could also try to listen for the `touchstart` event instead of `click`.

[2020-12-11 17:28] dallinbjohnson commented on #100
<iframe src="https://codesandbox.io/embed/gracious-dew-h9v9j?fontsize=14&hidenavigation=1&theme=dark"
     style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
     title="gracious-dew-h9v9j"
     allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
     sandbox="allow-

[2020-12-11 17:29] dallinbjohnson commented on #100
@rhwilr  So you will have to inspect the page and use the mobile mode to get the errors. https://codesandbox.io/s/gracious-dew-h9v9j?file=/src/pages/Index.vue

[2020-12-11 18:02] rhwilr commented on #100
If you use `@touchstart.stop="edit(scope.item)"` it works. I don't think there is anything wrong with `vue-nestable`. You just have to make sure to handle your touch events for mobile.

[2020-12-11 18:02] #100 closed, assigned to nobody

[2020-12-11 20:32] dallinbjohnson commented on #100
I get errors in the console on mobile when dragging between list groups.

[2020-12-11 20:38] dallinbjohnson commented on #100
Thanks I will start using `@touchstart.stop="edit(scope.item)`

[2020-12-15 14:33] dallinbjohnson commented on #100
@rhwilr I get errors in the console on mobile when dragging between list groups.

[code]

[2020-12-31 16:31] richarddwalsh commented on #96
Definitely would love to see this come down the pipe soon.

[2021-03-05 21:29] #4 closed

[2021-03-05 21:29] #15 closed

[2021-04-01 17:37] samlachance opened #107 "Unable to drag in Chrome desktop"
Hello and thanks for the excellent component.

I've encountered an issue where I'm unable to drag items in the component when using Chrome. I am, however, able to use the component as expected with firefox AND Chrome mobile emulator (using dev tools). To make things more puzzling, I am able to use vue-nestable's example site with all browsers including Chrome. No errors occur either.

I'm kind of

[2021-04-01 18:44] samlachance commented on #107
I've made another discovery. It appears to work correctly in Chrome desktop under a couple of strange conditions:

1. If I highlight everything on the page the dragging works as expected. If I deselect the content of the page then it stops working.
2. There are rare cases where I am able to "grab" the container (I'm not sure exactly what to call this but it's similar to how you can 'drag' images,

[2021-04-03 00:09] htmljosh commented on #107
I'm having the same problem here. I'm wondering if a chrome update caused this. I use firefox but a buddy just pointed out to me it doesn't work in chrome.

Love the plugin though.

[2021-04-30 13:59] Arraverz opened #108 "beforeMove hook can cause item to vanish when dragging from one list to another"
Dragging an item from List A to List B when List B has a beforeMove hook that denies the item it will cause the item to completely vanish.

[2021-05-01 08:27] rhwilr commented on #107
Does this issue still persist for you? I tried it in various Chromium based browsers (Chrome, Chromium, Vivaldi) and I don't expedience this issue.

[2021-05-01 19:29] htmljosh commented on #107
Yeah, still having this issue. To add some more information, the way I am currently using it is like this (maybe samlachance has a similar configuration):

- `<vue-nestable>` inside a `<ul>`
- `<li>` tag with another nested `<ul>` inside `<vue-nestable-handle>`
- Note: I am still able to drag and drop if I click and drag on an anchor element, for instance: `<li><a @click="removeItem(item.index)">R

[2021-05-04 19:39] samlachance commented on #107
I am also still experiencing the issue. I'll try to recreate what @htmljosh noted.

[2021-05-04 21:31] jaronwanderley opened #109 "Not dragging the examples without Drag handle on Mobile"
I tried to use the [examples](https://rhwilr.github.io/vue-nestable/) **on mobile** and get the error below:
`[Intervention] Ignored attempt to cancel a touchstart event with cancelable=false, for example because scrolling is in progress and cannot be interrupted.`

How to reproduce:
- Open Goggle Chrome
- Open Inspector (ctrl + shift + i)
- Toggle to touch device (ctrl + shift + m)
- Try to drag

[2021-05-29 10:22] msadeghyan1996 opened #113 "How to Handle drop Event"
hi.
how can i handle drop event in list?
for example i drag a item and need when drop menu send axios request and save new dataʻs.

tanx in advance

[2021-05-29 10:45] msadeghyan1996 commented on #113
i found solution
just replace :change to @chnage and worked fine.

[2021-05-29 10:45] #113 closed, assigned to nobody

[2021-06-05 07:30] Reklyd opened #115 "Not possible to drag out left nested items when several items are sub nested"

[2021-06-05 07:57] #115 closed, assigned to nobody

[2021-07-19 17:37] samlachance commented on #107
I was able to restore draggability in chrome by adding this CSS rule on the direct child element of `vue-nestable-handle`:

[code]

@htmljosh

[2021-08-04 02:18] logicminds opened #116 "How to add collapsible groups for each nestable item with sub items"
Given the code which is from the advanced example.   How can I add a toggle to expand/contract the nestable items.

<img width="380" alt="Screen Shot 2021-08-03 at 7 16 26 PM" src="https://user-images.githubusercontent.com/563900/128111258-711b81bc-7829-4376-8a74-e70eb0acae44.png">

[code]

[2021-08-05 20:15] rhwilr commented on #116
This is not something that is handled by vue-nestable. You have to implement this on your side by tracking the state and render the only expanded items.

[2021-08-05 20:15] #116 closed, assigned to nobody

[2021-08-05 20:16] logicminds commented on #116
I see a lot of collapse references in the code base so I thought it might be available.  Thanks for the awesome work on this component.

[2021-08-05 20:18] rhwilr commented on #109
This seems to only apply to the Chrome Dev Tools and is not an issue no a real mobile device.

[2021-08-05 20:18] #109 closed, assigned to nobody

[2021-08-05 20:20] rhwilr commented on #107
Closing since it seems to be an issue with implementation and is not reproducible with a simple app (demo application).

[2021-08-05 20:20] #107 closed, assigned to nobody

[2021-08-06 14:02] jaronwanderley commented on #109
@rhwilr But did you tried on mobile?
on my Android still not working...only the example with handles work... and kind of...
I showed a way of reproducing it on chrome... but on mobile isnt working too!
for reference Im using Chrome `92.0.4515.131 on android 10 QKQ1.190828.002`

[2021-08-13 14:18] ainsleyclark opened #118 "Disable area within slot"
Thank you for the great package.

I'm just wondering how to disable the dragging on a particular area off the draggable element.
For example, I don't want to user to be able to drag the H2, only the H1.

[code]

Hope that makes sense and thank you in advance.

[2021-08-13 14:40] rhwilr commented on #118
Try setting `pointer-events: none;` on the h2 element.

[2021-08-13 14:40] #118 closed, assigned to nobody

[2021-08-13 14:54] ainsleyclark commented on #118
I've already tried that, not sure if there is an alternative?

Many thanks.

[2021-08-13 15:00] rhwilr commented on #118
This depends on your usage. Another option could be to catch the [events the handle listenes to](https://github.com/rhwilr/vue-nestable/blob/master/src/VueNestableHandle.vue#L5) and prevent propagation.

There is no special property in the library to do this.

[2021-12-28 21:11] bci24 commented on #96
any updates for vue 3 ?

[2022-01-30 17:49] valpet commented on #96
+1

[2022-03-02 13:17] dvdhoek commented on #96
Would be very useful

[2022-03-02 16:40] rhwilr commented on #96
I do not have a Vue 3 project that uses this package. Therefore, I can not test or support Vue 3 compatibility, and have no plans to add support.
If you need Vue 3 compatibility, feel free to submit a PR.

[2022-03-10 14:13] fieteboerner opened #125 "Unable to insert item from a different list as last item"
### description

At the moment it is not possible to drag a list item from one list to another at the end of the target list.
It is possible by dragging it over the last item (so the ghost is above the last item) and then drag it below the last item so the order changes.

https://user-images.githubusercontent.com/8209685/157678861-c98277b1-8140-4624-beb5-4eaaecbdc0a5.mov

This seems to be a minor

[2022-03-21 05:55] shrestha463 opened #126 "Error while implementing"
Found a issue on vue 3 while implementing example code. Could you please suggest?

Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '_c')
    at Proxy.render (vendor.js?id=7b3a1eae22d6dc43e7dc:35036:13418)
    at renderComponentRoot (vendor.js?id=7b3a1eae22d6dc43e7dc:6115:44)
    at ReactiveEffect.componentUpdateFn [as fn] (vendor.js?id=7b3a1eae22d6dc43e7dc:10232:57)

[2022-03-21 06:16] shrestha463 commented on #126
Got your Readme file. if possible release it for vue3 as well.

Thanks in advance.

[2022-03-21 06:16] #126 closed, assigned to nobody

[2022-04-14 11:19] stepanenko3 opened #127 "Vue 3"
Do you have plans to upgrade to Vue3 or is the repository abandoned?

[2022-04-14 11:28] rhwilr commented on #127
It is not abandoned. I'm using it with vue 2 in active projects.

At this moment I can not support vue 3. Please see the [readme](https://github.com/rhwilr/vue-nestable/blob/master/README.md?plain=1#L15) and https://github.com/rhwilr/vue-nestable/issues/96#issuecomment-1057132268

[2022-04-14 11:28] #127 closed, assigned to nobody

[2022-07-17 08:19] silverboy66000 opened #128 "how create dynamic nestableItems"
hi
my nestableItems items get from DB
so i call data from api

how can i get items in nestableItems with for-loop

thanks

` <td v-for="(countriesZoneDataInfo ,index) in countriesZoneData " :key="key" style="vertical-align:top;direction:ltr!important;">
                            <div class="side">
                                <VueNestable v-model="nestableItems1[index+1]" cross-list group="cr

[2022-09-20 09:16] satis-apex opened #129 "cannot use on vue 3 with vite"
[vite] Internal server error: Failed to resolve entry for package "vue-nestable". The package may have incorrect main/module/exports specified in its package.json.  Plugin: vite:import-analysis

[2022-09-21 12:59] rhwilr commented on #129
This package is currently only compatible with Vue 2. Vue 3 compatibility may be added in the future, though there are currently no plans for it.

[2022-09-21 12:59] #129 closed, assigned to nobody

[2022-09-21 13:04] rhwilr commented on #128
See the first example in the Readme. It renders a list of items based on an array. In your case, the array would somehow come from the DB.

[2022-09-21 13:04] #128 closed, assigned to nobody